:root {
    --light-blue: #92CED9;
    --dark-blue: #1F3E5B;
    --salmon-pink: #F7A087;
    --yellow: #F0CA5F;
    --peal-yellow: #FFE59C;
    --off-white: #FDFAF5;
    --almost-black: #2B2B2B;
    --white-white: #FDFDFD;
    --small-text-gray: #696666;
    --peal-blue: #D4EAEE;
  }
  