.medicine-card-container {
  display: flex;
  width: 100%;
  height: auto;
  background-color: var(--pearl-blue);
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 26px;
  border: 1px solid var(--border-grey);
  border-radius: 8px;
  padding: 1rem .8rem;
  min-width: 233px;
}

.icon-container {
  /* grid-row: 1/-1; */
  display: flex;
  justify-content: center;
}

.medicine-card-container div a {
  color: var(--dark-blue);
  text-decoration: underline;
  cursor: pointer;
}
/* 
.medicine-card-container div a:hover {
  color: var(--almost-black);
  text-decoration: none;
} */
