.appointmentContainer {
  padding: 26px 20px;
  border-radius: 8px;
  border: 1px solid var(--border-grey)
}

.appointmentContainer form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 35px;
  row-gap: 36px;
}

.appointmentTitle {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.button {
  display: flex;
  justify-content: end;
  grid-column: 1/-1;
}

.timepickerContainer{
    width: 210px;
  }

  @media only screen and  (max-width: 768px) {

    .appointmentContainer form{
      grid-template-columns: 1fr;
    }
   
   .TextInputStyle div input{
    width: 100%;
   }
   .button button{
    width: 100%;
   }
  }
  
