.inactive {
  border-radius: 8px;
  width: 230px;
  height: 54px;
  background-color: var(--white-white);
  color: var(--almost-black);
  border: 1px solid var(--almost-black);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 5px;
}

.active {
  background-color: #d4eaee;
  border: 1px solid var(--almost-black);
  font-weight: 500;
  font-size: 24px;
  width: 230px;
  height: 54px;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 5px;
}

/* mobile */

@media screen and (max-width: 700px) {
  .buttonGroup {
    display: flex;
    gap: 5px;
    width: 100%;
  }

  .inactive,
  .active {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .inactive,
  .active {
    height: 48px;
  }
}
