.petCard img {
  border-radius: 50%;
  /* max-width: 100px;
  max-height: 100px; */
  box-sizing: border-box;
  object-fit: cover;
  border: 2.5px solid var(--dark-blue);
  max-width: 100%;
  margin-bottom: 10px;
  height: 78px;
}

.petCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* margin-bottom: 20px; */
}
