.totalPets div img{
    width: 60px;
    height: 60px;
    border-radius: 1px solid ;
    border-radius: 50%;
    box-sizing: border-box;
    background-size: cover;
}

.totalPets{
    display: flex;
    flex-flow: row;
}