nav div {
  display: flex;
  flex-direction: row;
  height: 10vh;
  background-color: var(--dark-blue);
  color: var(--off-white);
  justify-content: space-between;
}

.RightNav ul {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  padding-left: 5rem;
  align-content: center;
  opacity: 0;
}

nav div ul li {
  list-style: none;
  align-items: center;
}

nav li a {
  color: var(--pearl-blue);
}

nav li a:active {
  color: var(--yellow);
  text-decoration: none;
}

nav li a:hover {
  color: var(--yellow);
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .RightNav ul {
    transform: translateX(100%);
  }

  /* .menuOpen {
    transition: all 1s ease-in-out;
  } */

  .menuOpen ul {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: var(--dark-blue);
    width: 30vw;
    align-items: center;
    justify-content: center;
    transform: translateX(0); /* Slide the menu in from the right */
    transition: transform 0.6s ease;
  }
}
