.petlogcardContainer {
  display: grid;
  grid-template-columns: .8fr .8fr 0.2fr;
  border: 1px solid var(--border-grey);
  border-radius: 8px;
  column-gap: 10px;
  padding: 5% 3% 7% 5%;
  margin-bottom: 10px;
  background-color: var(--white-white);
}
