.clinicsContainer {
  padding: 15% 120px;
  border: 1px solid var(--off-white);
  border-radius: 50px 50px 0 0;
  background-color: var(--off-white);
  margin: auto;
  margin-top: -100px;
  display: grid;
  /* gap: 2rem; */
}
.Loader{
  height: 100vh
}
.multiplePetSelection {
  margin-bottom: 2rem;
}

.dropDownClinics input{
  padding-left: 5px;
}

.coverBackground {
  background-image: url("../../assets/images/clinicImage.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  height: 50vh;
  background-position: center;
  overflow: hidden;
}

.clinicTitle {
  display: grid;
  row-gap: 1rem;
  margin-bottom: 0;
  text-align: center;
  /* word-break: break-all; */
}

.dropDownClinics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  grid-column: 1/-1;
}

.clinicCheckbox {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.clinicButton {
  display: flex;
  justify-content: flex-end;
}

.opaqueStyle {
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.title1 {
  text-align: left;
  color: #fdfdfd;
}

.titleCenter {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  margin-left: 5rem;
  height: 50vh;
  align-content: center;
}

.clinicTag {
  color: #fdfdfd;
}

.clinicSearch {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

.multiplePetSelection {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}

.petSelection {
  display: flex;
  justify-content: center;
}

.dropDown {
  margin-bottom: 10px;
  margin-top: 30px;
}

.addPetLink {
  text-decoration: underline;
  color: var(--dark-blue);
}

.addPetLink:hover {
  text-decoration: none;
  color: var(--dark-blue);
}

.addPetLink:active {
  text-decoration: none;
  color: var(--dark-blue);
}

.arrowContainer {
  margin-left: 5px;
}

.noResultContainer {
  display: block;
  margin: 50px auto;
}

.specialtiesContainer {
  /* margin-bottom: 0.5rem; */
}

.individualClinicContainer {
  /* border: 1px solid var(--border-grey); */
  border-radius: 8px;
  /* position: fixed; */
  z-index: 99;
  position: fixed;
  bottom: 0;
  top: 100px;
  background-color: var(--off-white);
  overflow-y: auto;
  width: 100%;
  height: 100%;
  animation: slide-up 1s ease;
  left: 0;
  right: 0;
  border-radius: 50px 50px 0 0;
  padding-top: 30px;
  /* padding-bottom: 50px; */
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* @keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.overlay-invisible .individualClinicContainer {
  animation: slideOut 1s ease-out;
} */

.overlay-visible {
  top: 0;
  transition: top 1s ease-out;
}

.overlay-invisible {
  top: 100%;
  transition: top 1s ease-out;
}

.closeIcon {
  width: 30px;
  height: 30px;
}

.closeIconContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  cursor: pointer;
}

.overlayVisable {
  top: 100px;
  background-blend-mode: multiply;
  filter: grayscale(60%) brightness(69%) contrast(66%);
  /* opacity: 40%; */
}

.overlay-invisible {
  background-color: unset;
}

@media screen and (max-width: 900px) {
  .clinicsContainer {
    padding: 50px;
    grid-template-columns: 1fr;
  }

  .noResultContainer {
    display: block;
    margin: 50px auto;
  }

  .clinicSearch {
    grid-template-columns: unset;
    width: 100%;
    row-gap: 40px;
  }

  .petSelection {
    flex-wrap: wrap;
    justify-content: center;
  }

  .dropDownClinics {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .clinicCheckbox {
    row-gap: 1rem;
  }

  .clinicTitle {
    width: 100%;
  }

  .clinicButton {
    grid-row: 3;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .petSelection {
    justify-content: left;
  }

  .coverBackground {
    background-color: var(--off-white);
    background-image: unset;
    height: unset;
  }

  .clinicTag {
    display: none;
  }

  .clinicsContainer {
    margin-top: unset;
  }

  .titleCenter {
    margin: 110px 20px 0 20px;
    height: unset;
  }

  .title1 {
    color: var(--almost-black);
  }

  .opaqueStyle {
    height: unset;
    background-color: var(--off-white);
  }

  .clinicsContainer {
    padding: 20px;
  }

  .clinicButton {
    justify-content: center;
  }

  .clinicButton button {
    width: 100%;
  }

  .clinicCheckbox {
    flex-flow: column;
    align-items: flex-start;
  }

  .clinicsContainer {
    display: block;
  }

  .phoneSVG {
    width: 26;
    height: 26;
  }

  .opaqueStyle {
    margin-bottom: 1rem;
  }

  /* .clinicTitle {
    width: 80vw;
  }
  
  .clinicSearch {
    width: 80vw;
  }
  
  .clinicButton{
    width: 80vw;
  } */
}
