.petSelect {
  width: 210px;
  height: 248px;
  display: grid;
  justify-items: center;
  border-radius: 10px;
  /* background-color: var(--pearl-blue); */
  padding-top: 10px;
}

.petSelect.selected{
  background-color: var(--pearl-blue);
  border: 1px solid var(--border-grey);
}

/* .petNotSelect {
  width: 210px;
  height: 248px;
  display: grid;
  justify-items: center;
  border-radius: 10px;
  background-color: transparent;
} */

.imageContainer {
  width: 175px;
  height: 175px;
}

.imageContainer img {
  object-fit: cover;
  width: 175px;
  height: 175px;
  border-radius: 8px;
}

@media screen and (max-width: 500px) {
  .imageContainer {
    width: 134px;
    height: 134px;
  }

  .imageContainer img {
    width: 134px;
    height: 134px;
  }

  .petSelect,
  .petNotSelect {
    width: 153px;
    height: 185px;
  }
}
