.clinicCard {
  background-color: var(--pearl-blue);
  border: 1px solid var(--border-grey);
  max-width: 900px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 200px 1fr;
  padding: 24px 16px;
  margin: auto;
  margin-top: 8px;
  gap: 24px;

  @media (max-width: 500px) {
    display: flex;
    flex-flow: column;
  }
}

.imageContainer {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}

.imageContainer img {
  width: 100%;
  height: 200px;
}

.clinicRating {
  align-self: flex-start;
}

.clinicRating,
.clinicAddress,
.clinicOpen,
.clinicSpecialties {
  grid-column: 1/-1;
  display: grid !important; 
  grid-template-columns: 0.2fr 1.5fr;
  margin-bottom: 8px;
  align-items: center;
}

.add-description,
.open-description,
.clinicSpecialties ul {
  grid-column: 2;
}

.clinicSpecialties {
  display: inline;
}

.clinicInfo {
  display: grid;
  grid-template-columns: 0.1fr 2fr;
  grid-template-rows: auto;
}

.clinicInfo > div:first-child {
  grid-column: 1 / -1;
}

.clinicInfo button {
  grid-column: 2/3;
  justify-self: end;
  align-self: end;
}

/* .clinicSpecialties ul {
  list-style: none;
} */
