.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 700px;
}

/* .modal button {
    background: var(--yellow);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .modal button:hover {
    background: var(--dark-blue);
  } */

.CardButtonGroup {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
}

@media screen and (max-width: 600px) {
  .modal {
    width: 400px;
  }

  .CardButtonGroup button {
    width: 100%;
    color: var(--dark-blue)
  }
}

@media screen and (max-width: 450px) {
  .modal {
    width: 320px;
  }

}
