.plan-detail-card-wrapper img {
  object-fit: contain;
}

.titleTypo {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.4px;
}

.contentTypo {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.priceTypo {
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;
}

.plan-detail-card-wrapper {
  border: 1px solid var(--border-grey);
  margin-bottom: 10px;
  /* margin-top: 10px; */
  display: grid;
  grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr 0.8fr;
  /* grid-template-rows: 2fr 1fr; */
  grid-template-rows: auto;
  column-gap: 30px;
  row-gap: 20px;
  padding: 25px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--white-white);
  border-radius: 8px;
}

.image-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  /* text-align: center; */
  /* align-self: center; */
}

.image-container img {
  width: 100%;
  height: 110px;
  object-fit: contain;
}

.detail-card-deductible,
.detail-card-reimbursement,
.detail-card-coverage {
  grid-row: 1/3;
  margin-top: 30px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly */
}

.image-container {
  grid-row: 1/3;
}

.button-container {
  grid-column: -2;
}

@media screen and (max-width: 1000px) {
  .image-container,
  .detail-card-deductible,
  .detail-card-reimbursement,
  .detail-card-coverage {
    margin: 0;
  }

  .plan-detail-card-wrapper {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    display: grid;
    /* gap: 10px; */
    justify-items: center;
    padding: 36px 33px;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .image-container {
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
    width: 100%;
  }

  .image-container img {
    width: 100%;
  }

  .detail-card-reimbursement {
    grid-column: 2;
    grid-row: 2;
  }

  .detail-card-coverage {
    grid-column: 1;
    grid-row: 3;
  }

  .detail-card-deductible {
    grid-column: 2;
    grid-row: 3;
  }

  .button-container button {
    width: 100%;
    max-width: 500px;
  }

  .button-container {
    width: 100%;
    grid-column: 1/-1;
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px) {
  .titleTypo {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  .contentTypo {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }

  .priceTypo {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
  }

  .plan-detail-card-wrapper {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 450px) {
  .plan-detail-card-wrapper {
    justify-items: left;
    text-align: left;
    gap: 20px;
  }

  .image-container {
    margin: auto;
  }
}

/* @media screen and (max-width: 700px) { */
/* .image-container,
  .detail-card-deductible,
  .detail-card-reimbursement,
  .detail-card-coverage {
    margin: 0;
  }

  .plan-detail-card-wrapper {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    display: grid;
    padding: 20px;
    gap: 10px;
    justify-items: center;
    padding: 36px 33px;
    align-items: center;
  }

  .priceNum { */
/* margin-right: 40px; */
/* }

  .detail-card-price {
    grid-column: 1;
    grid-row: 2;
    margin-top: 20px;
  }

  .detail-card-reimbursement {
    grid-column: 2;
    grid-row: 2;
  }

  .detail-card-coverage {
    grid-column: 1;
    grid-row: 3;
  }

  .detail-card-deductible {
    grid-column: 2;
    grid-row: 3;
  }

  .button-container {
    grid-column: 1/3;
    grid-row: 4;
    text-align: center;
    margin-top: 27px;
  }

  .button-container button {
    width: 100%;
    max-width: 500px;
  }

  .button-container {
    width: 100%;
  } */
/* } */

/* @media screen and (max-width: 700px) { */
/* .plan-detail-card-wrapper {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    display: grid;
    border: 1px solid var(--border-grey);
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--white-white); */
/* row-gap: 10px; Reduce row gap */
/* column-gap: 10px; Reduce column gap */
/* border-radius: 1.25rem;
    text-align: center;
  }

  .image-container {
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
  }

  .image-container img {
    width: 100%;
    /* max-width: 500px; */
/* height: 300px;
  }

  .detail-card-price {
    grid-column: 1;
    grid-row: 2;
  } */

/* .detail-card-reimbursement {
    grid-column: 2;
    grid-row: 2;
  }

  .detail-card-coverage {
    grid-column: 1;
    grid-row: 3;
  }

  .detail-card-deductible {
    grid-column: 2;
    grid-row: 3;
  }

  .button-container {
    grid-column: 1/3;
    grid-row: 4;

    text-align: center;
  }
  
  .button-container button {
    width: 100%;
    max-width: 500px;
  }  */
/* } */

/* .plan-detail-card-wrapper {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    display: grid;
    border: 1px solid var(--border-grey);
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--white-white);
    row-gap: 10px; Reduce row gap */
/* column-gap: 10px; /* Reduce column gap */
/* border-radius: 1.25rem;
    text-align: center;
  }  */

/* .image-container {
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
  }
  .image-container img {
    width: 100%;
    /* max-width: 500px; */
/* height: 300px;
  }

  .detail-card-price {
    grid-column: 1;
    grid-row: 2;
  }

  .detail-card-reimbursement {
    grid-column: 2;
    grid-row: 2;
  }

  .detail-card-coverage {
    grid-column: 1;
    grid-row: 3;
  }

  .detail-card-deductible {
    grid-column: 2;
    grid-row: 3;
  }

  .button-container {
    grid-column: 1/3;
    grid-row: 4;
    text-align: center;
  }
  .button-container button {
    width: 100%;
    max-width: 500px;
  }  */
/* } */
