.plan-detail-card-wrapper {
  border: 1px solid var(--border-grey);
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: 2fr 1fr; */
  grid-template-rows: auto;
  column-gap: 15px;
  row-gap: 13px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--white-white);
  border-radius: 1.25rem;
}

.image-container {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  align-self: center;
}

.image-container img{
  width:400px;
  height:200px;
}

.image-container,
.detail-card-deductible,
.detail-card-reimbursement,
.detail-card-coverage {
  grid-row: 1/3;
  margin-top: 20px;
}

.button-container {
  grid-column: -2;
}

@media screen and (max-width: 1000px) {
  .plan-detail-card-wrapper {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    display: grid;
    border: 1px solid var(--border-grey);
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--white-white);
    row-gap: 10px; /* Reduce row gap */
    column-gap: 10px; /* Reduce column gap */
    border-radius: 1.25rem;
    text-align: center;
  }
  
  .image-container {
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
  }
  .image-container img {
    width: 100%;
    /* max-width: 500px; */
    height: 300px;
  }
  
  .detail-card-price {
    grid-column: 1;
    grid-row: 2;
  }
  
  .detail-card-reimbursement {
    grid-column: 2;
    grid-row: 2;
  }
  
  .detail-card-coverage {
    grid-column: 1;
    grid-row: 3;
  }
  
  .detail-card-deductible {
    grid-column: 2;
    grid-row: 3;
  }
  
  .button-container {
    grid-column: 1/3;
    grid-row: 4;
    text-align: center;
  }
  .button-container button {
    width: 100%;
    max-width: 500px;
  }
}

@media screen and (max-width: 700px) {
  .plan-detail-card-wrapper {
    width: 100%;
    max-width: 600px; /* Limit the card's maximum width */
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    display: grid;
    border: 1px solid var(--border-grey);
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--white-white);
    row-gap: 10px;
    column-gap: 10px;
    border-radius: 1.25rem;
    text-align: center;
  }

  .image-container {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
  }
  .image-container img {
    width: 100%;
    max-width: 100%; /* Ensure the image scales within the card's width */
    height: 300px;
  }

  .detail-card-price {
    grid-column: 1;
    grid-row: 2;
  }

  .detail-card-reimbursement {
    grid-column: 1;
    grid-row: 3;
  }

  .detail-card-coverage {
    grid-column: 1;
    grid-row: 4;
  }

  .detail-card-deductible {
    grid-column: 1;
    grid-row: 5;
  }

  .button-container {
    grid-column: 1;
    grid-row: 6;
    text-align: center;
  }
  .button-container button {
    width: 100%;
    max-width: 500px;
  }
}


@media screen and (max-width: 600px) {
  .plan-detail-card-wrapper {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    display: grid;
    border: 1px solid var(--border-grey);
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--white-white);
    row-gap: 10px;
    column-gap: 10px;
    border-radius: 1.25rem;
    text-align: center;
  }

  .image-container {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
  }
  .image-container img {
    width: 100%;
    max-width: 500px;
    height: 300px;
  }

  .detail-card-price {
    grid-column: 1;
    grid-row: 2;
  }

  .detail-card-reimbursement {
    grid-column: 1;
    grid-row: 3;
  }

  .detail-card-coverage {
    grid-column: 1;
    grid-row: 4;
  }

  .detail-card-deductible {
    grid-column: 1;
    grid-row: 5;
  }

  .button-container {
    grid-column: 1;
    grid-row: 6;
    text-align: center;
  }
  .button-container button {
    width: 100%;
    max-width: 500px;
  }
}
