.petPage {
  display: grid;
  gap: 2rem;
}

.petPageTabs {
  width: 100%;
  text-align: center;
}

.petPageGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 60px;
  padding: 0 90px;
  gap: 30px;
}

.tabContent {
  padding: 1rem;
  border: 1px solid var(--border-grey);
  border-radius: 8px;
}

.tabTitle{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.postPetPage {
  background-color: white;
}
.getPetPage {
  background-color: white;
}



