.petPageTabs{
    width:40vw;
    text-align: center;
}
.petPageGrid{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.petPagePetCard{
    text-align: center;
    align-items: center;
}