.petPage {
  display: grid;
  gap: 2rem;
}

.petPageTabs {
  width: 100%;
  text-align: center;
}

.petPageGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 60px;
  padding: 0 90px;
  gap: 30px;
}

.tabContent {
  margin-top: 1rem;
  /* border: 1px solid var(--border-grey); */
  /* border-radius: 8px; */
}

.tabTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.postPetPage {
  background-color: var(--white-white);
}

.getPetPage {
  /* background-color: white; */
}

.appointmentCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 27px;
  /* background-color: var(--white-white); */
}

.petLogCard{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 27px;
  /* background-color: var(--white-white); */
}