.wrapper {
  width: 210px;
  display: flex;
}

.input {
  flex-grow: 1;
  font-size: 16px;
  padding: 4px 12px;
  box-sizing: border-box;
  /* border: 2px var(--black) solid; */
  border-radius: 8px;
  border: 1px solid var(--almost-black);
  background-color: var(--white);
  height: 54px;
}