@import "rsuite/dist/rsuite.css";

#root {
  padding: 10px;
}

.calendar {
  max-width: 500px;
  box-sizing: border-box;
  /* max-width: 370px; */
  box-sizing: border-box;
  border-radius: 8px;
  border: solid 1px var(--border-grey);
  background-color: white;
  padding: 20px;
}

.calendar-todo-list {
  text-align: left;
  padding: 0;
  list-style: none;
}

.calendar-todo-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.calendar-todo-item-badge {
  vertical-align: top;
  margin-top: 8px;
  width: 6px;
  height: 6px;
}

.legend {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 8px;
}

.legendapt,
.legendmed {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  padding: 4.5px 8px;
}

.legendapt > div:first-of-type {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--pearl-yellow);
}

.legendmed > div:first-of-type {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--pearl-blue);
}

@media screen and (max-width: 930px) {
  .calendar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
    max-width: unset;
  }
}

@media screen and (min-width: 1100px) {
  .calendar {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .calendar {
    grid-template-columns: 1fr;
  }
}
