.calendar-todo-item-badge-appointment {
  background-color: var(--salmon-pink) !important;
}

.calendar-todo-item-badge-medication {
  background-color: var(--light-blue) !important;
}

.rs-calendar-bordered .rs-calendar-table {
  border: none !important;
}

.rs-calendar-table-header-cell-content {
  color: var(--dark-blue);
  font-weight: 600;
}

.rs-calendar-panel .rs-calendar-table-cell-is-today .rs-calendar-table-cell-day,
.rs-calendar-panel .rs-calendar-table-cell-day {
  background-color: transparent;
  color: var(--small-text-gray);
}

.rs-calendar-table-cell-selected span {
  font-weight: 600;
  background-color: var(--yellow) !important;
  border-radius: 50%;
  color: var(--dark-blue) !important;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
}

.rs-calendar-panel
  .rs-calendar-table-cell-selected
  .rs-calendar-table-cell-content {
  -webkit-box-shadow: none;
  border-radius: 50%;
}

.carousel-root {
  max-width: 450px;
  margin: auto;
}
