.button {
  border-radius: 20px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  border: 0;
}

.yellow {
  background-color: var(--yellow);
  color: var(--almost-black);
}

.blue-yellow{
  background-color: var(--dark-blue);
  color: var(--yellow);
}

.yellow:hover {
  background-color: var(--pearl-yellow);
}

.yellow:active {
  border: 1px solid var(--almost-black);
}

.light-blue {
  background-color: var(--light-blue);
  color: var(--almost-black);
}

.light-blue:hover {
  background-color: var(--pearl-blue);
}

.light-blue:active {
  border: 1px solid var(--almost-black);
}

.dark-blue {
  background-color: var(--dark-blue);
  color: var(--off-white);
}

.dark-blue:hover {
  background-color: var(--pearl-blue);
  color: var(--almost-black);
}

.dark-blue:active {
  background-color: var(--pearl-blue);
  color: var(--almost-black);
  border: 1px solid var(--almost-black);
}

.pet-profile-btn {
  background-color: var(--yellow);
  color: var(--almost-black);
  border-radius: 0 0 8px 8px;
  height: 50px;
  width: 100%;
}

.dk-sm {
  font-size: 16px;
  height: 40px;
  width: 160px;
}

.dk-md {
  font-size: 18px;
  height: 50px;
  width: 300px;
}

.dk-md-s {
  font-size: 18px;
  height: 50px;
  width: 210px;
}

.dk-lg {
  font-size: 18px;
  width: 440px;
  height: 50px;
}

.dk-insuranceBtn {
  border-radius: 8px;
  width: 230px;
  height: 54px;
  background-color: var(--white-white);
  color: var(--almost-black);
  border: 1px solid var(--almost-black);
  font-weight: 500;
  font-size: 24px;
}

.dk-insuranceBtn:active {
  background-color: var(--pearl-blue);
}

/* mobile button */

.mb-insuranceBtn {
  border-radius: 8px;
  width: 150px;
  height: 48px;
  background-color: var(--white-white);
  color: var(--almost-black);
  border: 1px solid var(--almost-black);
  font-weight: 500;
  font-size: 20px;
}

.mb-insuranceBtn:active {
  background-color: var(--pearl-blue);
}
