.petLogHeader {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
.petLogContainer {
  /* width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr; */
margin: 2rem;
  padding: 2rem;
  border: 1px solid gray;
}
.petPagePetCard {
  text-align: center;
  align-items: center;
}
