.petLogHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* flex-direction: row; */
  gap: 1rem;
  justify-content: center;
  background-color: var(--dark-blue);

  color: white;
  padding: 0.5rem 0 .4rem 1rem;
  font-size: large;
}

.petnameheader {
  grid-column-start: 3;
}

.petLogContainer {
  margin: 2rem;
  padding: 2rem;
  border: 1px solid gray;
}

.petPagePetCard {
  text-align: center;
  align-items: center;
}

.petinfo img {
  border-radius: 50%;
  box-sizing: border-box;
  object-fit: cover;
  border: 1px solid var(--small-text-gray);
  max-width: 100%;
  margin-bottom: 10px;
  height: 170px;
  float: right;
  object-fit: contain;
  object-fit: cover;
}

.petinfo {
  display: grid;
  grid-template-columns: auto 185px;
}

.petLogHeader svg {
  width: 140px;
}

th {
  padding: 12px;
}

td {
  padding: 7px;
}

tr {
  border-bottom: solid 1px rgb(224, 224, 224);
}