.pet-in-card-container {
  width: 224px;
  /* height: 262px; */
}

.pet-image-container {
  box-sizing: border-box;
  width: 100%;
}

.pet-profile-btn:active .pet-in-card-container {
  background-color: red;
}
