.cardContainer {
  display: grid;
  border: 1px solid var(--border-grey);
  width: 100%;
  /* flex-direction: column; */
  border-radius: 8px;
  overflow: hidden;
  padding: 38px 36px;
  background-color: white;
  line-height: 2.5;
  gap: 20px;
}

.cardTitle, .cardBody{
    margin-bottom: 1rem;
}

.titleBody, .bodyText{
    line-height: 1.5;
}

.cardBody,
.bodyText {
  margin-left: 5%;
}

@media screen and (max-width: 700px) {
}
