.cardContainer {
    display: flex;
    border:1px solid var(--border-grey);
    width: 100%;
    flex-direction: column;
    border-radius: 1.25rem;
    overflow: hidden;
    padding: 20px;
    background-color: white;
    line-height: 2.5;   
}
.cardBody{
    line-height: 2.5;
    margin-top: 1.5%;
    margin-left: 4%;    
}
.bodyText{
    margin-top: .5%;
    line-height: 1.7;
}

.titleBody , .bodyText{
    line-height: 32px;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
}