.ListInsurances {
  padding: 45px 40px;
  background-color: var(--off-white);
  max-width: 1220px;
  box-sizing: content-box;
  margin: auto;
}

.ListInsurancesBody {
  display: grid;
  /* row-gap: 0.05%; */
  margin-top: 5%;
}

.heading {
  display: grid;
  grid-gap: 10%;
  margin-bottom: 42px;
}

.subheadTypo {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.8px;
}

@media screen and (max-width: 1000px) {
  .ListInsurancesBody {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
  }

  .ListInsurances {
    padding: 122px 4%;
  }

  .heading {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 850px) {
  .ListInsurancesBody {
    padding: 0 10%;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {
  .ListInsurancesBody {
    padding: 0 8%;
  }

  .subheadTypo {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.8px;
    color: var(--small-text-gray);
  }
}

@media screen and (max-width: 450px) {
  .ListInsurancesBody {
    padding: 0;
  }

  .subheadTypo {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.9px;
  }

  .ListInsurances {
    padding: 27px 20px;
  }
}
