.image {
  width: 100%;
}

.imgContainer div img {
  width: 249px;
  height: 325px;
  object-fit: cover;
}

.petCardContainer {
  display: grid;
  width: 250px;
  height: 815px;
  background-color: var(--pearl-blue);
  align-items: center;
}

.descriptionContainer {
  text-align: left;
}

.detailContainer {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr;
  text-align: center;
  margin-bottom: 10px;
}

.SVGIcons {
  width: 41px;
  height: 40px;
}

.actionContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid;
  padding: 1rem;
  text-align: center;
 
}

.actionContainerMobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .petCardContainer {
    grid-template-columns: 1fr 3fr 0.5fr;
    grid-template-rows: 1fr;
    width: 80vw;
    height: 20vh;
    gap: 0.5rem;
  }
  .petCardContainer div img {
    width: 20vw;
    height: 20vh;
    contain: cover;
  }
  .descriptionContainer {
    width: 75px;
    height: 28px;
  }
  .SVGIcons {
    max-width: 30px;
    max-height: 30px;
  }
  .actionContainer {
    display: none;
  }
  .actionContainerMobile {
    align-self: start;
    display: block;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
  }

  .commonDetailContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .detailContainer {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}
