.image {
  width: 100%;
}

.imgContainer div img {
  width: 249px;
  height: 325px;
  object-fit: cover;
}

.petCardContainer {
  display: grid;
  width: 250px;
  height: 815px;
  background-color: var(--pearl-blue);
  align-items: center;
}

.descriptionContainer {
  text-align: left;
}

.detailContainer {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr;
  text-align: center;
}
.SVGIcons{
  width: 41px;
  height: 40px;
}

.actionContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid;
  padding: 1rem;
  text-align: center;
}


@media only screen and (max-width:600px ) {
  
.petCardContainer{
  grid-template-columns: 1fr 1fr 1fr;
  width: 80vw;
  height:20vh;
}
.petCardContainer div img{
  width:84px;
  height: 84px;
}
.descriptionContainer{
  width: 75px;
  height: 28px;
}
.SVGIcons{
  width: 14px;
  height: 22px;
}


}