.apt-card-container {
  display: flex;
  /* width: 100%; */
  height: auto;
  background-color: var(--pearl-yellow);
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  gap: 35px;
  border: 1px solid var(--border-grey);
  border-radius: 8px;
  padding: 1rem 50px;
  min-width: 280px;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.apt-card-container div a {
  color: var(--dark-blue);
  text-decoration: underline;
  cursor: pointer;
}
