/* .pageTabs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
} */

.pageTabs li {
  list-style-type: none;
  padding: 8px;
}

.pageTabs ul li {
  color: var(--dark-blue);
  cursor: pointer;
}

.pageTabs .active {
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 4px solid var(--light-blue);
}

/* Default styles for desktop view */
.desktopView {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid var(--dark-blue);
}

/* Styles for mobile view (hidden by default) */
.mobileView {
  display: none;
}

/* Media Query for mobile view */
@media screen and (max-width: 700px) {
  .desktopView {
    display: none;
  }

  .mobileView {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
  }

  .mobileTabContent {
    /* flex-grow: 1; */
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
  }

  .mobileView button{
    background: transparent;
    font-size: 20px;
  }
}
