.vaccinationForm {
  padding: 26px 20px;
  border-radius: 8px;
  border: 1px solid var(--border-grey);
}

.vaccinationForm form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 36px;
}

.vaccineTitle {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.vaccinationForm button {
  align-self: flex-end;
}

.vaccineButton {
  display: flex;
  justify-content: end;
  grid-column: 1/-1;
}

.fieldGap{
  margin-left: 40px;
}