.dashboardContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 12px;
  padding: 125px 20px 45px;
}

.Loader {
  height: 100vh;
}

.dashboardContainer > div {
  border-radius: 8px;
  border: solid 1px var(--border-grey);
  background-color: white;
  padding: 20px;
}

.dashboardPetCard {
  background-color: var(--pearl-blue) !important;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 25px;
}

.dashboardPetCard > div:first-of-type {
  order: 1;
}
.dashboardPetCard > div:last-of-type {
  order: 3;
  flex-basis: 100%;
}

.dashboardPetCard > a {
  order: 2;
}

.petCardList {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.petSummaryCards > div {
  flex-grow: 1;
}

.petCardList > a {
  flex-basis: calc(25% - 15px);
}

.dashboardPetCard svg {
  width: 24px;
  height: 24px;
}

.dashboardPetCard > a {
  grid-column: 2/3;
  grid-row: 1/2;
}

.dashboardPetCard > div:first-of-type,
.dashboardPetCard > a {
  justify-self: baseline;
}

.middleContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.middleTitle {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.petSummaryCards {
  margin-top: 24px;
  margin-bottom: 46px;
  display: flex;
  column-gap: 24px;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.petSummaryCards > div {
  margin-top: 8px;
}

.graphTitle {
  margin-bottom: 30px;
  margin-top: 53px;
}

.graphContainerMain {
  padding-right: 40px;
}

.graphNoRecord {
  display: block;
  margin: auto;
  width: 300px;
  padding-right: 0;
}

.graphNav {
  display: flex;
  align-items: center;
}

.underline {
  height: 1px;
  width: 100%;
  margin: 0;
  border-top: 0;
  background-color: var(--almost-black);
}

.marginIcon {
  margin-right: 10px;
}

.marginIconArr {
  margin-left: 10px;
}

@media screen and (max-width: 500px) {
  .graphNoRecord {
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .dashboardContainer {
    padding: 45px 40px;
  }

  .dashboardPetCard {
    width: 100%;
  }

  .petCardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 28px;
  }

  .middleTitle {
    padding-right: 12px;
  }

  .petSummaryCards {
    justify-content: start;
    gap: 28px;
    flex-flow: row nowrap;
  }
}

@media screen and (min-width: 1100px) {
  .dashboardContainer {
    flex-flow: row nowrap;
    align-items: flex-start;
    max-width: 1220px;
    box-sizing: content-box;
    margin: auto;
  }

  .dashboardPetCard {
    text-align: center;
    justify-content: center;
    width: 20%;
  }

  .dashboardPetCard svg {
    width: 40px;
    height: 40px;
  }

  .dashboardPetCard > div:first-of-type {
    order: 1;
  }
  .dashboardPetCard > div:last-of-type {
    order: 2;
  }
  .dashboardPetCard > a {
    order: 3;
  }

  .middleContainer,
  .dashboardContainer > div:last-of-type {
    flex-grow: 1;
  }
  .middleContainer {
    flex-shrink: 5;
  }
}

/* 


  .dashboardContainer > div:not(.petCardList) {
    max-width: none;
    width: auto;
  }







  .petCardList {
    padding-top: 42px;
    display: flex;
    flex-flow: column wrap;
  }

  .petCardList > a {
    max-width: 100px;
  }


  .dashboardContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    max-width: 1440px;
    margin: auto;
    
    justify-content: center;
  }

  .dashboardContainer > div:last-of-type {
    min-width: 265px;
    max-width: 450px;
  }
}


} */
