.insuranceSearchContainer {
  padding: 45px 40px;
}

.petSelectionContainer {
  display: flex;
  flex-direction: row;
  /* grid-template-columns: repeat(3, 1fr); */
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0px;
}

.formContainer {
  display: grid;
  justify-items: center;
  /* padding: 5%; */
  gap: 40px;
  width: 100%;
  margin-bottom: 100px;
  /* text-align: center; */
}

.petSelectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addPetLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addPetLink {
  margin: 75px;
}

.searchTitle {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 82px;
}

.insuranceFromTitle {
  margin: 80px 0 36px 0;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .insuranceFromTitle{
    margin-top: 20px ;
  }
}

@media screen and (max-width: 760px) {
  .insuranceSearchContainer {
    padding: 100px 25px;
  }

  .searchTitle{
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 700px) {
  .insuranceDropdown,
  .insuranceDropdown select {
    width: 100%;
  }

  .formContainer {
    gap: 12px;
  }

  .quoteButton {
    margin-top: 33px;
  }

  .insuranceFromTitle {
    margin: 30px 0 40px 0 !important;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {

  .insuranceSearchContainer {
    padding: 40px 10px 40px 10px;
  }

  .quoteButton {
    justify-content: left;
    display: flex;
    margin-top: 33px;
  }

  .insuranceFromTitle {
    margin: 45px 0;
  }

  .addPetLink {
    margin: 50px;
  }

  .insuranceSearchContainer {
    padding: 100px 15px;
  }
}

@media screen and (max-width: 360px) {
  .quoteButton {
    margin-left: 180px;
  }

  .quoteButton button {
    width: 150px;
  }
}
