.insuranceSearchContainer {
  padding: 5%;
}

.petSelectionContainer {
  display: flex;
  flex-direction: row;
  /* grid-template-columns: repeat(3, 1fr); */
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0px;
}

.formContainer {
  display: grid;
  justify-items: center;
  /* padding: 5%; */
  gap: 40px;
  width: 100%;
  /* text-align: center; */
}

.petSelectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Vertically center items */
}

.addPetLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addPetLink {
  margin: 75px;
}

.searchTitle {
  text-align: center;
  margin-top: 8%;
  margin-bottom: 5%;
}

.insuranceFromTitle {
  margin: 96px 0 36px 0;
  text-align: center;
}

/* .buttonGroup{
  display: flex;
  justify-content: space-between;
} */

@media screen and (max-width: 700px) {
  .insuranceSearchContainer {
    padding: 25px;
  }

  .formContainer select {
    width: 385px;
  }

  .formContainer {
    gap: 12px;
  }

  .quoteButton {
    margin-top: 33px;
  }

  .insuranceFromTitle {
    margin: 50px 0;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {

  .petSelectionContainer {
    justify-content: left;
  }

  .formContainer select {
    width: 315px;
  }

  .insuranceSearchContainer {
    padding: 40px 15px 40px 15px;
  }

  .quoteButton {
    justify-content: left;
    display: flex;
    margin-top: 33px;
    margin-left: 170px;
  }

  .quoteButton button {
    width: 150px;
  }

  .insuranceFromTitle {
    margin: 45px 0;
  }

  .addPetLink {
    margin: 50px;
  }
}
