
.InsuranceDetails{
   height: 100vh;
   display: grid;
   padding: 30px;
   row-gap: 30px;
}

.InsuranceDetailsSimilarPlans{
    background-color: var(--light-blue);
    box-sizing: border-box;
    overflow: scroll;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    column-gap: 20px;
}

.InsuranceCoverageStyle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    overflow: scroll;
}

.InsuranceCoverageCenterDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:360px ) {
    .InsuranceCoverageStyle{
        grid-template-columns: 1fr;
    }
}