.medicineCardContainer {
  display: grid;
  grid-template-rows: .4fr 1fr;
  border: 1px solid var(--border-grey);
  border-radius: 8px;
  column-gap: 3px;
  padding: 5%;
  row-gap: 1rem;
  margin-bottom: 30px;
  background-color: var(--white-white);
}

.otherRow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 2rem;
}

.firstRow{
  display: flex;
  justify-content: space-between;
}