.plan-detail-card-wrapper {
  width: 335px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid var(--border-grey);
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--white-white);
  row-gap: 10px;
  column-gap: 10px;
  border-radius: 1.25rem;
  margin: 10px;
}

.image-container {
  grid-row: 1;
  grid-column: 1/3;
  text-align: center;
}

.image-container img {
    width:240px;
    height:200px;
}

.detail-card-price {
  grid-column: 1;
  grid-row: 2;
}

.detail-card-reimbursement {
  grid-column: 2;
  grid-row: 2;
}

.detail-card-coverage {
  grid-column: 1;
  grid-row: 3;
}

.detail-card-deductible {
  grid-column: 2;
  grid-row: 3;
}

.button-container {
  grid-column: 1/3;
  grid-row: 4;
  text-align: center;
}

.button-container button {
  width: 260px;
}

@media screen and (max-width: 1000px){
  .plan-detail-card-wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid var(--border-grey);
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--white-white);
    row-gap: 10px;
    column-gap: 10px;
    border-radius: 1.25rem;
    margin: 10px;
  }
  
  .image-container {
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
    margin-top:30px;
  }
  
  .image-container img {
      width:240px;
      height:200px;
  }
  
  .detail-card-price {
    grid-column: 1;
    grid-row: 2;
    margin-top:30px;
  }
  
  .detail-card-reimbursement {
    grid-column: 2;
    grid-row: 2;
    margin-top:30px;
  }
  
  .detail-card-coverage {
    grid-column: 1;
    grid-row: 3;
    margin-top:30px;
  }
  
  .detail-card-deductible {
    grid-column: 2;
    grid-row: 3;
    margin-top:30px;
  }
  
  .button-container {
    grid-column: 1/3;
    grid-row: 4;
    text-align: center;
    margin-top:30px;
  }
  
  .button-container button {
    width: 260px;
  }
}
@media screen and (max-width: 700px){
  .plan-detail-card-wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid var(--border-grey);
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--white-white);
    row-gap: 5px;
    column-gap: 10px;
    border-radius: 1.25rem;
    margin: 10px;
  }
  
  .image-container {
    margin-top:30px;
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
  }
  
  .image-container img {
      width:100%;
      height:200px;
  }
  
  .detail-card-price {
    margin-top:30px;
    grid-column: 1;
    grid-row: 2;
  }
  
  .detail-card-reimbursement {
    grid-column: 2;
    grid-row: 2;
    margin-top:30px;
  }
  
  .detail-card-coverage {
    grid-column: 1;
    grid-row: 3;
    margin-top:30px;
  }
  
  .detail-card-deductible {
    grid-column: 2;
    grid-row: 3;
    margin-top:30px;
  }
  
  .button-container {
    grid-column: 1/3;
    grid-row: 4;
    text-align: center;
    margin-top:30px;
  }
  
  .button-container button {
    width: 100%;
    max-width:300px;
  }
}
@media screen and (max-width: 600px){
  .plan-detail-card-wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid var(--border-grey);
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--white-white);
    row-gap: 5px;
    column-gap: 10px;
    border-radius: 1.25rem;
    margin: 10px;
  }
  
  .image-container {
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
    margin-top:30px;
  }
  
  .image-container img {
      width:240px;
      height:200px;
  }
  
  .detail-card-price {
    grid-column: 1;
    grid-row: 2;
    margin-top:30px;
  }
  
  .detail-card-reimbursement {
    grid-column: 2;
    grid-row: 2;
    margin-top:30px;
  }
  
  .detail-card-coverage {
    grid-column: 1;
    grid-row: 3;
    margin-top:30px;
  }
  
  .detail-card-deductible {
    grid-column: 2;
    grid-row: 3;
    margin-top:30px;
  }
  
  .button-container {
    grid-column: 1/3;
    grid-row: 4;
    text-align: center;
    margin-top:30px;
  }
  
  .button-container button {
    width: 260px;
  }
}