.plan-detail-card-wrapper {
  width: 335px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid var(--border-grey);
  box-sizing: border-box;
  padding: 23px 36px;
  background-color: var(--white-white);
  gap: 18px;
  border-radius: 8px;
  margin: 10px;
}

.insurHead {
  grid-column: 1/-1;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  gap: 7px;
}

.image-container {
  grid-row: 1;
  grid-column: 1/3;
  text-align: center;
  height: 60px;
}

.image-container img {
  width: 100%;
  height: 60px;
  object-fit: contain;
}

.detail-card-price {
  grid-column: 1;
  grid-row: 2;
}

.detail-card-reimbursement {
  grid-column: 2;
  grid-row: 2;
}

.detail-card-coverage {
  grid-column: 1;
  grid-row: 3;
}

.detail-card-deductible {
  grid-column: 2;
  grid-row: 3;
}

.button-container {
  grid-column: 1/3;
  grid-row: 4;
  text-align: center;
}

.button-container button {
  width: 260px;
}

.button-container button:focus {
  outline: none;
  background-color: var(--light-blue);
}
.detailTypo {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.9px;
  color: var(--small-text-gray);
}

.detailTypo.price {
  color: var(--almost-black);
}

.smPrice {
  font-weight: 600;
  font-size: 42px;
  line-height: 50.8px;
}

@media screen and (max-width: 1000px) {
  .plan-detail-card-wrapper {
    margin: 0;
  }
}

@media screen and (max-width: 1250px) {
  .plan-detail-card-wrapper {
    margin-bottom: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 400px) {
  .detailTypo {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  .smPrice {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
  }

  .plan-detail-card-wrapper {
    width: 100%;
    margin: 0;
  }

  .button-container button {
    width: 100%;
  }
}
