.plan-detail-card-wrapper {
  width: 319px;
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .9fr .9fr .5fr;
  display: grid;
  border: 1px solid var(--border-grey);
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--white-white);
  row-gap: 10px;
  column-gap: 10px;
}

.image-container {
  grid-row: 1;
  grid-column: 1/3;
  text-align: center;
}

.detail-card-price {
  grid-column: 1;
  grid-row: 2;
}

.detail-card-reimbursement {
  grid-column: 2;
  grid-row: 2;
}

.detail-card-coverage {
  grid-column: 1;
  grid-row: 3;
}

.detail-card-deductible {
  grid-column: 2;
  grid-row: 3;
}

.button-container {
  grid-column: 1/3;
  grid-row: 4;
  text-align: center;
}
