.inputContainer {
    background: white;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 6px 11px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .input {
    flex: 1;
    border: 0;
    margin: 0 10px;
    height: 100%;
    font-size: 14px;
  }
  
  .input:focus {
    outline: none;
    border: none;
  }
  
  .input::placeholder {
    color: var(--small-text-gray);
  }
  
  .searchReset {
    cursor: pointer;
  }
  