.AptInfoCard {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    border-radius: 8px;
    padding: 16px 32px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.aptDetails, .aptAddress {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--almost-black);
}
