.checkboxLabel {
  margin-left: 10px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-top: 0;
}

.checkboxStyle {
  display: flex;
  /* align-items: center; */
}

@media screen and (max-width: 400px) {
  .checkboxStyle {
    align-items: center;
  }

  .checkboxLabel {
    margin-left: 15px;
  }
}
