.contact-card-wrapper {
  width: 100%;
  height: 148px;
  display: grid;
}

.heading-wrapper {
  background-color: var(--pearl-blue);
  padding: 8px 12px;
}

.phone-wrapper,
.clinic-url-wrapper {
  display: grid;
  grid-template-columns: 0.1fr 2fr;
  align-items: center;
  column-gap: 1rem;
}
