.AboutUsProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  
  .AboutUsProfile img {
    width: 100%;
    max-width: 220px;
    aspect-ratio: 1;
    object-fit: contain;
  }

  .AboutUsProfile a svg{
    margin-top: 10px;
  }

  /* change this to left if req */
  .AboutUsProfile .textContainer {
    text-align: center; 
    margin-top: 8px;
    flex-grow: 1;
  }

  .AboutUsProfile .textContainer > :not(.linkedin-link) {
    margin-bottom: 8px;
  }
  /* uncomment just this code if another layout is req. */
   /* .AboutUsProfile .descriptionContainer {
    display: flex; 
    align-items: center;
    gap: 8px;
    margin-top: 8px;
  }  */
  
  .AboutUsProfile .linkedin-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
  
  .AboutUsProfile .linkedin-link:hover {
    text-decoration: none;
  }
  