.petLogFood {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.petLogFood :first-child {
  display: flex;
  flex-direction: column;
}

.foodFromStyle form {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
  width: 100%;
}

.buttonStyle {
  align-self: flex-end;
}

.petLogFoodAndQuantity {
  display: flex;
  gap: 40px;
}

.petLogCheckBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.checkboxGap {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  column-gap: 66px;
  row-gap: 36px;
  padding-left: 16px;
}

.scrollableDiv {
  max-height: 300px; /* Set a maximum height to enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ccc;
}

.foodDate{
  display: grid;
  gap: .5rem;
}

.foodDate input{
  margin: 0
}

@media screen and (max-width: 768px) {
  .foodFromStyle {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }

  .petLogFood :first-child {
    gap: 0;
  }

  /* .petLogFood :first-child{
    display: flex;
    flex-direction: column;
    gap:1rem;
} */

  /* .TextInput_md__njcBb {
    width: 303px !important;
  } */

  .petUnit {
    display: flex;
    gap: 10px !important;
    align-items: center;
  }

  .foodDate {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }

  .checkboxGap {
    flex-flow: column nowrap;
    gap: 1rem;
  }

  .buttonStyle button {
    width: 150px;
  }

  .petLogFoodAndQuantity {
    gap: 20px;
  }

  .petLogFood > div > div:first-child input {
    width: 100%;
  }
}

.petUnit {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.foodFromStyle {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}
