.petLogFood{
    display: flex;
    gap:2rem;
    flex-direction: column;
}
.petLogFood :first-child{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.foodFromStyle form{
    display: flex;
    flex-flow: column;
    gap:2rem;
}

.buttonStyle{
   align-self: flex-end;
}
.petLogFoodAndQuantity{
    display: flex;
    gap:2rem;
}
.petLogCheckBox{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.checkboxGap{
    display: flex;
    flex-flow: row wrap;
    gap:2rem;
    justify-content: start;
}

@media only screen and  (max-width: 768px) {
.foodFromStyle {
    width: 90vw;
    display: flex;
    flex-flow: column nowrap;
    gap:2rem;
   
}
/* .petLogFood :first-child{
    display: flex;
    flex-direction: column;
    gap:1rem;
} */


.petUnit{
    display: flex;
    gap:2rem;
    align-items: center;
}

.foodDate{
    display: flex;
    gap:.5rem;
    flex-direction: column;
}
.checkboxGap{
    flex-flow: column nowrap;
    gap:1rem;
}
}

.petUnit{
    display: flex;
    align-items: center;
    gap:2rem;
}
.foodFromStyle{
    display: flex;
    flex-flow: column nowrap;
    gap:2rem;
}
