

.abtUs1 img {
  width: 100%;
  height: auto;
}

.abtUs1 {
  background-color: var(--pearl-blue);
}

.abtUs2 span, 
.abtUs3 span, 
.abtUs4 span {
  padding: 0 25px;
  position: relative;
}

.abtUs2 > div > div:first-of-type,
.abtUs3 > div > div:first-of-type, 
.abtUs4 > div:first-of-type {
  position: relative;
}

.abtUs2 > div > div:first-of-type > hr,
.abtUs3 > div > div:first-of-type > hr,
.abtUs4 > div:first-of-type > hr {
  border: 1.5px solid var(--almost-black) !important;
  position:absolute;
  top: 2px;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.abtUs1Description,
.abtUs4 {
  padding: 42px 20px;
}

.abtUs2,
.abtUs3,
.abtUs4 {
  padding: 42px 20px 72px;
}

.abtUs2,
.abtUs3 {
  text-align: center;
  margin: auto;
}

.abtUs2 > div > div:nth-child(2),
.abtUs3 > div > div:nth-child(2) {
  padding-top: 25px;
  max-width: 800px;
  margin: auto;
}

.abtUs2Images > div {
  margin-top: 50px;
  padding: 0 30px;
}

.abtUs2Images > svg {
  width: 125px;
  height: 125px;
}

.abtUs3Images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px;
  max-width: 450px;
  margin: 10vw auto;
}

.abtUs1Description > * {
  margin-bottom: 16px;
}

.abtUs4 {
  background-color: var(--pearl-blue);
}

.abtUs4Info {
  display: flex;
  flex-flow: column nowrap;
  gap: 56px;
  max-width: 500px;
  margin: auto;
  margin-top: 32px;
}

.abtUs4Info > div:first-of-type {
  order: 2;
  text-align: center;
}

.abtUs4 img {
  width: 100%;
  max-width: 450px;
}

textarea {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  border: 1px solid var(--almost-black);
  padding: 8px 12px;
  margin-bottom: 20px;
}

.abtUs4 form {
  display: flex;
  flex-flow: column wrap;
  max-width: 500px;
  gap: 16px;
}

.abtUs4 button {
  align-self: end;
}

@media screen and (min-width: 768px) {
  .abtUs1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
  }

  .abtUs2,
  .abtUs3,
  .abtUs4 {
    padding: 130px 20px 0; 
  }

  .abtUs1Description {
    padding: 60px;
  }

  .abtUs1 > div:last-of-type {
    max-width: 500px;
  }

  .abtUs2 > div:nth-child(2),
  .abtUs3 > div:nth-child(2) {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    padding: 24px 0;
    line-height: 181%;
  }

  .abtUs2Images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1130px;
    margin: 46px auto;
  }

  .abtUs2Images > div {
    padding: 0;
  }

  .aboutusProfile {
    display: flex;
    flex-flow: column;
    gap: 5rem;
  }

  .abtUs3Images1,
  .abtUs3Images2 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 36px;
  }

  .abtUs3Images1 {
    padding-bottom: 36px;
  }

  .abtUs4 {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 810px) {
  .abtUs3Images {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 32px;
    row-gap: 35px;
    padding: 0 30px;
    max-width: 100%;
    margin: 70px auto 100px;
  }

  .abtUs3Images > div:nth-child(n) {
    justify-content: center;
    flex-basis: calc(20% - 32px);
  }

  .abtUs4Info {
    padding-top: 72px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 1130px;
    margin: 0 auto;
  }

  .abtUs4Info > div:first-of-type {
    grid-column: 1/2;
    grid-row: 1;
  }

  .abtUs4Info > form {
    grid-column: 2/3;
  }

  .abtUs4Info > div:nth-child(2) {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }

  .abtUs4Info div:nth-child(2) div:nth-child(3) input {
    height: 150px;
  }

  .abtUs4Info input {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .abtUs1 {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    flex-flow: row nowrap;
    padding-top: 60px;
    height: 585px;
  }

  .abtUs1 > div:last-of-type {
    justify-self: end;
  }

  .abtUs1Description {
    padding: 0;
    align-self: start;
    justify-self: right;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
    width: 90%;
    max-width: 700px;
  }

  .abtUs2,
  .abtUs3,
  .abtUs4 {
    width: 100%;
    padding: 130px 130px 0;
    margin: 0 auto;
  }

  .abtUs4 {
    padding: 130px 130px 70px;
  }


}
