.addPetContainer {
    padding: 45px 40px;
}
.addPetHeader{
    text-align: center;
    padding-bottom: 48px;
}

.addPetImage div img{
    width: 100%;
}

.addPetImage > div:first-of-type {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-white);
    border: 1px solid var(--border-grey);
    border-radius: 8px;

}
.addPetForm form > div:first-of-type {
    text-align: center;
    margin-bottom: 25px;
}

.addPetForm form > div:first-of-type > div:first-of-type {
    margin-bottom: 16px;
}

.addPetForm form {
    max-width: 450px;
    margin: auto;
    padding: 0 20px;
}

.addPetForm form input, .addPetForm form select, .addPetForm button {
    width: 100%;
}

.addPetForm form > div {
    margin-bottom: 16px;
}

.petHeight, .petWeight {
    display: flex;
    align-items: end;
}

.petHeight > div:nth-child(2), .petWeight > div:nth-child(2) {
position: relative;
bottom: 16px;
padding-left: 12px;
}

@media screen and (min-width: 700px) {
    .addPetForm form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 36px;
        max-width: 800px;
        margin: auto;
        margin-bottom:40px;
        padding: 0 36px;
    }

    .addPetForm form > div:first-child, .addPetForm button {
        grid-column: 1 / -1;
        max-width: 300px;
        justify-self: center;
    }
}


@media screen and (min-width: 1000px) {
    .addPetForm form {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 75px;
        max-width: 1220PX;
        box-sizing: content-box;
    }
    
    .addPetForm form div:first-child {
        grid-column: 1/2;
        grid-row: 1 / -7;
    }
    
    .addPetForm button {
        grid-column: 3/4;
        justify-self: right;
    }
    .showImage img{
        width: 325px;
        height:325px;
        object-fit:cover;
        position: relative;
    }
}
