.submitBtnContainer {
  width: 440px;
}

.submitBtnContainer {
  margin: 28px 0;
  display: flex;
  width: 100%;
  display: flex;
}

.createAcContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.emailContainer {
  width: 100%;
}

.createAcContainer a {
  color: var(--dark-blue);
  text-decoration: underline;
}

.createAcContainer a:hover {
  color: var(--almost-black);
}

@media screen and (max-width: 1300px) {
  .submitBtnContainer {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .submitBtnContainer button {
    width: 190px;
  }
  .submitBtnContainer{
    margin: 10px;
  }
  .createAcContainer{
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
