.imageContainer {
  /* max-width: 200px;
  max-height: 200px; */
  border-radius: 8px;
  /* border: 1px solid rgba(43, 43, 43, 0.2); */
  max-width: 100%;
  
}

.imageDisplay {
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 8px;
  
}
